{{!-- <p>Welcome to {{title}}</p>
 --}}
<div class="rainbow">
  <div id="boxone">
  <div id="redtext"></div>
  </div>
  <div id="boxtwo">
  </div>
  <div id="boxthree">
  </div>
  <div id="boxfour">
  </div>
  <div id="boxfive">
  </div>
  <div id="boxsix">
  </div> 
 </div> 

